.tech-icon {
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
}

.tech-icon img {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}